<html lang="eng">

<head>
  <title>Attendance List | </title>

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

  <script src="../assets/js/jquery-3.5.1.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-header navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2 class="navbar-text pull-right">Tech Sparagus</h2>
      </div>
      <div class="nav navbar-nav navbar-right">
        <a href="" class="text-light">log out <i class="fa fa-power-off"></i></a>
      </div>
    </div>
  </nav>
  <div id="sidebar" class="bg-dark">
    <div id="sidebar-field">
      <!-- <a href="home" class="sidebar-item">
          <div class="sidebar-icon"><i class="fa fa-dashboard"> </i></div>  Dashboard
      </a>
       -->

    </div>
    <div id="sidebar-field">
      <a href="" class="sidebar-item active">
        <div class="sidebar-icon"><i class="fa fa-list"> </i></div> Attendance
      </a>
    </div>
    <a href="" class="sidebar-item">
      <div class=""><i class="fa fa-list"> </i></div> payment
    </a>
  </div>

  </div>
  <script>
    $(document).ready(function () {
      var loc = window.location.href;
      loc.split('{/}')
      $('#sidebar a').each(function () {
        // console.log(loc.substr(loc.lastIndexOf("/") + 1),$(this).attr('href'))
        if ($(this).attr('href') == loc.substr(loc.lastIndexOf("/") + 1)) {
          $(this).addClass('active')
        }
      })
    })

  </script>
  <div class="container-fluid admin">
    <div class="alert alert-primary">Attendance List</div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModallabel">

    </div>
    <div class="well col-lg-12">
      <div id="table_wrapper" class="dataTables_wrapper no-footer">
        <div class="dataTables_length" id="table_length">
          <!-- <label> <select name="table_length" aria-controls="table" class="">
       
         <option value="50">50</option>
        <option value="100">100</option> -->
          <!-- </select> </label> -->
        </div>
        <div id="table_filter" class="dataTables_filter"><label></label>
        </div>
        <table id="table" class="table table-bordered table-striped dataTable no-footer" role="grid"
          aria-describedby="table_info">
          <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-sort="ascending"
                aria-label="Employee Number: activate to sort column descending" style="width: 257.25px;">
                Employee/intern ID</th>
              <!-- <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 145.925px;">Name</th> -->
              <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                aria-label="Date: activate to sort column ascending" style="width: 159.95px;">Date</th>
              <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                aria-label="remark: activate to sort column ascending" style="width: 159.95px;">remark</th>
              <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                aria-label="Log Type: activate to sort column ascending" style="width: 139.6px;">Time in</th>
              <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                aria-label="Time: activate to sort column ascending" style="width: 107.6px;">Time out</th>
              <!-- <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="tool: activate to sort column ascending" style="width: 107.025px;">tool</th></tr> -->
          </thead>


      
        </table>





        <script type="text/javascript">
          $(document).ready(function () {
            $('#table').DataTable();
          });
        </script>
        <script type="text/javascript">
          $(document).ready(function () {
            $('.remove_log').click(function () {
              var id = $(this).attr('data-id');
              var _conf = confirm("Are you sure to delete this data ?");
              if (_conf == true) {
                $.ajax({
                  url: 'delete_log.php?id=' + id,
                  error: err => console.log(err),
                  success: function (resp) {
                    if (typeof resp != undefined) {
                      resp = JSON.parse(resp)
                      if (resp.status == 1) {
                        alert(resp.msg);
                        location.reload()
                      }
                    }
                  }
                })
              }
            });
          });
        </script>
</body>

</html>